@font-face {
  font-family: 'Circular';
  src: local('Circular'), url('./assets/fonts/CircularStd-Book.ttf') format('truetype');
}
body {
  padding: 0px;
  margin: 0px;
  /* letter-spacing: 0.05em; */
  line-height: normal;
  background-color: white;
  font-family: 'Circular';
}
/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #121212;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #5A5A5A;
}

